<html>
	<head>
	
	</head>

	<body>
		<div class="PartieHaute">
			<h3>Recherche</h3>
			<label>
  				<input type="checkbox" id="cbox1" value="checkbox1">
  				Nom Partie 
			</label>
			<label>
  				<input type="checkbox" id="cbox2" value="checkbox2">
  				Nom Créateur
			</label>
			

   			 <form method="post" action="traitement.php">

   				 <p>
	
        				<label>Votre pseudo</label> : <input type="text" name="pseudo" />

    				</p>
				<INPUT TYPE="submit" NAME="nom" VALUE=" OK">
				
				<input type="submit" value="Creer Partie"> 

			</form>
			
			
			</div>	
			<div class="PartieMid">
				<label>
  					<input type="checkbox" id="cbox3" value="checkbox3">
  					Privé
				</label>
				<label>
  					<input type="checkbox" id="cbox4" value="checkbox4">
  					Public
				</label>
				<label>
  					<input type="checkbox" id="cbox5" value="checkbox5">
  					Classe
				</label>
				<label>
  					<input type="checkbox" id="cbox6" value="checkbox6">
  					Ami
				</label>
			
			</div>
			<TABLE BORDER="1"> 
  				<CAPTION> Liste des Parties </CAPTION> 
 				 <TR> 
 					<TH> Nom Partie </TH> 
 					<TH> Nom Créateur </TH> 
 					<TH> - </TH> 
 					<TH> - </TH> 
					<TH> - </TH> 
 					<TH> - </TH> 
 				 </TR> 
 				 <TR> 
 					<TH> Partie 1 </TH> 
 					<TD> Joueur 1 </TD> 
 					<TD>  </TD> 
 					<TD>  </TD> 
					<TD>  </TD> 
 					<TD> <input type="submit" value="Rejoindre">  </TD> 
  				</TR> 
				<TR> 
 					<TH> Partie 2 </TH> 
 					<TD> Joueur 2</TD> 
 					<TD>  </TD> 
 					<TD>  </TD> 
					<TD>  </TD> 
 					<TD> <input type="submit" value="Rejoindre">  </TD> 
  				</TR> 
				<TR> 
 					<TH> Partie 3 </TH> 
 					<TD> Joueur 3 </TD> 
 					<TD>  </TD> 
 					<TD>  </TD> 
					<TD>  </TD> 
 					<TD> <input type="submit" value="Rejoindre">  </TD> 
  				</TR> 
				<TR> 
 					<TH> Partie 4 </TH> 
 					<TD> Joueur 4 </TD> 
 					<TD>  </TD> 
 					<TD>  </TD> 
					<TD>  </TD> 
 					<TD> <input type="submit" value="Rejoindre">  </TD> 
  				</TR> 
				<TR> 
 					<TH> Partie 5 </TH> 
 					<TD> Joueur 5 </TD> 
 					<TD>  </TD> 
 					<TD>  </TD> 
					<TD>  </TD> 
 					<TD> <input type="submit" value="Rejoindre">  </TD> 
  				</TR> 
				<TR> 
 					<TH> Partie 6 </TH> 
 					<TD> Joueur 6 </TD> 
 					<TD>  </TD> 
 					<TD>  </TD> 
					<TD>  </TD> 
 					<TD> <input type="submit" value="Rejoindre">  </TD> 
  				</TR> 
			</TABLE> 

				

	</body>