<html>
  <head>
	  <link rel="stylesheet" href="ModifierDeck.scss">
  </head>
  <body>
    <div class="wrapper-bibli">
      <p>Nom du Deck : <%= @deck.name %><br></p>
	  <div class="wrapper-carte">
	    <% @cards.each do |c| %>
	    	<% if #deck.send("card_#{c.id}") %>
	      	<% if @deck.send("card_#c.id") > 0 %>
	        	<% for i in 1..@deck.send("card_#{c.id}") do %>
	          	<div class="carte">
	            	<%= image_tag(c.image.url(:thumb)) %><br>
	            	<p>
	            		Nom : <%= c.name %>
	            	</p>
	          	</div>
	        	<% end %>
	      	<% end %>
	    	<% end %>
	  	<% end %>
	  </div>
	  <div class="stats-bibli">
	    <h3>
	    	<%= for i in 1..15 do %>
	    		<% total += @deck.card_#{i} %>
	    	<% end %>
      </h3>
	    <a href="#" class="btn btn-default">Enregistrer Deck</a>
	  </div>
	  
	  <div class="tri-bibli">
	    <h3>Tri</h3>
	  </div>
    </div>
  </body>
</html>
