<% @decks.each do |d| %>
  <%= link_to("#{d.name}", deck_path(d.id), class: "btn btn-primary btn-lg Bouton_Creer") %><br>
  <% counter = 0 %>
  <% for i in 1..15 do %>
    <% counter += d.send("card_#{i}") %>
  <% end %>
  <p>
    <h3>
      <%= "#{counter} / 40" %>
    </h3>
  </p>
<% end %>
