<html>
<head>

</head>
 <body>
<div class="Packs">
   <div class="Pack1">
	<h3>Pack1</h3>
	<div class="wrapper-bibli">
		
		
			<div class="Carte"></div>
			<a href="#" class="btn btn-default">x1</a>
			<h1>10 Kibrilles</h1>
			<a href="#" class="btn btn-default">x11</a>
			<h1>100 Kibrilles</h1>
		</div>
	</div>
    

   <div class="Pack2">
	<h3>Pack2</h3>
	<div class="wrapper-bibli">
		
		
			<div class="Carte"></div>
			 <a href="#" class="btn btn-default">x1</a>
			<h1>1000 Dingdings</h1>
			<a href="#" class="btn btn-default">x11</a>
			<h1>10000 Dingdings</h1>
		</div>
	</div>
    


    <div class="Pack3">
	<h3>Pack3</h3>
	<div class="wrapper-bibli">
		
		
			<div class="Carte"></div>
			 <a href="#" class="btn btn-default">x1</a>
			<h1>1000 Dingdings</h1>
			<a href="#" class="btn btn-default">x11</a>
			<h1>10000 Dingdings</h1>
		</div>
	</div>
   
   

     <div class="Pack4">
	<h3>Pack4</h3>
	<div class="wrapper-bibli">
		
		
			<div class="Carte"></div>
			 <a href="#" class="btn btn-default">x1</a>
			<h1>1000 Dingdings</h1>
			<a href="#" class="btn btn-default">x11</a>
			<h1>10000 Dingdings</h1>
		</div>
	</div>
    
    

    <div class="Pack5">
	<h3>Pack5</h3>
	<div class="wrapper-bibli">
		
		
			<div class="Carte"></div>
			 <a href="#" class="btn btn-default">x1</a>
			<h1>1000 Dingdings</h1>
			<a href="#" class="btn btn-default">x11</a>
			<h1>10000 Dingdings</h1>
		</div>
	</div>

   
</div>

   
 </body>
 </html>