


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
	
    <html>
         <header>
            <link rel="stylesheet" href="styleAmi.css" />
        </header>
        
        <body>
             <div id="searchbar">
                      <h1>Rechercher un ami</h1>
                      <form action="" class="formulaire">
                      <input class="champ" type="text" value="Entrez le pseudo de votre ami...)"/>
                      <input class="bouton" type="button" value=" " />
                  </form>
                </div>
                
            <table>
                <caption>Liste d'amis</caption>

                    <tr>
                       <th>Pseudo</th>
                       <th>Niveau</th>
                       <th>Statut</th>
                       <th></th>
                    </tr>
                    <tr>
                        <td>xkillerx</td>
                       <td>33</td>
                       <td>En ligne</td>
                        <th>
                            <a href="#" class="btn btn-primary btn-xs">Supprimer</a>
                        </th>
                    </tr>
                    <tr>
                       <td>xtroufionDu952</td>
                        <td>26</td>
                       <td>En ligne</td>
                       <th>
                           <a href="#" class="btn btn-primary btn-xs">Supprimer</a>
                       </th>
                      </tr>
                    <tr>
                        <td>xJaiPasConscienceDuTaff</td>
                        <td>25</td>
                        <td>Hors ligne</td>
                        <th>
                            <a href="#" class="btn btn-primary btn-xs">Supprimer</a>
                        </th>
                        </tr>
            </table>
        </body>
    <footer>
        
    </footer>
    </html>