

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
	
<html>
  <head>
	<link rel="stylesheet" href="ModifierDeck.scss">
</head>
<body>
	<!--sous le header par défaut-->
	<div class="wrapper-bibli">
		<div class="wrapper-carte">
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
			<div class="carte"></div>
		</div>
	
		<div class="stats-bibli">
			<h3>Total : <!--insert données--></h3>
				 <a href="#" class="btn btn-default">Enregistrer Deck</a>
		</div>
		<div class="tri-bibli">
			<h3>Tri</h3>
		</div>
	</div>
</body>
</html>
