// Place all the styles related to the Deck controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.wrapper-carte {
  width: 70%;
  height: 700px;
  background: grey;
  display: inline-block;
  float: left;
  overflow: scroll;
}

div.wrapper-bibli {
  width: 100%;
  display: inline-block;
}

div.carte {
  width: 180px;
  height: 330px;
  float: left;
  background-color: black;
  margin: 10px 5px
} 

div.stats-bibli, div.tri-bibli {
  width: 25%;
  height: 250px;
  display: inline-block;
  background-color: red;
  margin: 0 10px 10px;
  float: left;
  font-family: sans-serif;
  padding: 10px;
}

div.stats-bibli h3, div.tri-bibli h3 {
  text-align: center;
}
