<html>
    <head>
        <link rel="stylesheet" href="application.css">
        <link rel="stylesheet" href="ObtenirKibrilles.scss">
        
    </head>
    
    <body>
        <div class="PartieHaute">
            <a href="#" class="btn btn-primary btn-lg">100 Kibrilles</a>
            <h1>5€99</h1>
            <a href="#" class="btn btn-primary btn-lg">500 Kibrilles</a>
            <h1>39€99</h1>
            <a href="#" class="btn btn-primary btn-lg">1000 Kibrilles</a>
            <h1>54€99</h1>
        </div>
        <div class="Partie Basse">
            <div class="wrapper-bibli">
		        <div class="wrapper-carte">
		        	<div class="carte"></div>
			        <div class="carte"></div>
			        <div class="carte"></div>
			   </div>
            </div>
        </div>
        
        
    </body>
    
    
</html>